html, #app {
    background-color: #fff;
    color: #007dbb;
}

.panel-default>.panel-heading {
    color: #007dbb;
}

.blue {
    background-color: #007dbb;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #007dbb;
    color: #fff;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #007dbb;
}

@media only screen and (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
    }
}